.filter {
    background-image: url('../../img/filter background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    padding: 28px 72px 31px;

    &__form {
        display: flex;
        justify-content: space-between;
        color: #fff;
    }

    &__category {
        text-align: left;
        min-width: 220px;

        &:last-of-type {
            max-width: 310px;
        }
    }

    &__title {
        margin-bottom: 24px;
    }

    // &__label {}

    &__checkbox:checked + &__label > &__checkbox-indicator {
        width: 26px;
        height: 23px;
        margin-right: 17px;
        border: none;
        background-image: url('./../../img/checkbox-on.svg');
    }

    &__checkbox:disabled {
        + .filter__label {
            color: #6a6a6a;

            .filter__checkbox-indicator {
                border-color: #6a6a6a;

            }
        }

        &:checked + .filter__label .filter__checkbox-indicator {
            background-image: url('./../../img/checkbox-on-disabled.svg');
        }
    }

    &__checkbox-indicator {
        display: block;
        float: left;
        width: 19px;
        height: 19px;
        margin-right: 20px;
        border: 2px solid #fff;
        border-radius: 3px;
        color: inherit;
    }

    &__price-wrap {
        position: relative;
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        height: 32px;
        border: 2px solid #fff;
        border-radius: 3px;

        &:before {
            content: '';
            position: absolute;
            background-color: #fff;
            width: 2px;
            height: 22px;
        }
    }

    &__price-input {
        color: inherit;
        background: none;
        border: none;
        // background-color: rgba(pink, .3);
        width: 40px;
        outline: none;
    }

    &__price {
        &-range {
            position: relative;
            width: 100%;
            height: 2px;
            margin-top: 20px;
            margin-bottom: 32px;
            background-color: rgba(#fff, .3);
        }

        &-select {
            position: absolute;
            left: 0;
            right: 0;
            height: 2px;
            background-color: #fff;
        }

        &-handler {
            position: absolute;
            top: -9px;
            display: block;
            width: 4px;
            height: 4px;
            background-color: #b1b1b1;
            border: 8px solid #fff;
            border-radius: 50%;
            box-shadow: 0 2px 0 rgba(#fff, .3);
            cursor: pointer;

            &:hover {
                transform: scale(1.1);
            }

            &_min {
                left: 0;
            }

            &_max {
                right: 0;
            }
        }
    }

    &__submit {
        width: 133px;
        height: 32px;
        border: 2px solid #fff;
        border-radius: 3px;
        background-color: transparent;
        color: inherit;
        // text-transform
        font-size: 14px;
        font-weight: 400;

        &:hover {
            background-color: #fff;
            color: #000;
        }
    }
}