@mixin font_main () {
    font-family: "PT Sans", Arial, sans-serif;
    text-transform: uppercase;
    color: #000;
}  

$font_1: "PT Sans", Arial, sans-serif;

$color_blue: #81b3d2;
$color_blue_hover: #669ec0;
$color_blue_active: #5496bd;

$color_brown: #766357;
$color_brown_hover: #604e43;
$color_brown_active: #503e33;

$color_gray: rgba(0,0,0,0.3);

$color_body: #f2f2f2;

$const_shadow: 0 0 15px rgba(0,0,0,0.3);
