$color__blue: #81b3d2;
$color__blue_hover: #669ec0;
$color__blue_active: #5496bd;

$color__brown: #766357;
$color__brown_hover: #604e43;
$color__brown_active: #503e33;

$color__gray: rgba(0,0,0,0.3);

$color__body: #f2f2f2;

$const__shadow: 0 0 15px rgba(0,0,0,0.3);
