.class {
  border: 1px solid pink;
}
.adventages li {
  // background-color: rgba(255, 0, 0, 0.15);
}
// .adventage-sublist {
//   display: none!important;
// }
.test {
  // width: 0;
  // height: 0;
  border: 8px solid black 5px solid transparent;
  outline: 1px solid red;
}
