.adventages {
    text-align: center;
    padding-top: 56px;
    color: #333333;
    line-height: 26px;

    &__occasion {
        display: block;
        margin-bottom: 33px;
        font-size: 21px;
        font-weight: 700;
    }

    &__text {
        margin-bottom: 55px;
        font-size: 14px;
        font-weight: 400;
    }

    &__list {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        line-height: 21px;
    }
    
    &__item {
        display: flex;
        justify-content: flex-start;
        width: 100%;

        &_contents {
            position: relative;
            margin-bottom: 330px;
        }

        &-title {
            font-size: 21px;
        }

        &-text {
            font-size: 14px;
        }        
    }

    &__card,
    &__item_short {
        width: 33%;
        padding: 50px 40px 40px;
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        background-color: #81b3d2;
        color: #fff;
        box-sizing: border-box;
    }

    &__item_short {
        background-color: #eee;
        color: #333;
    }

    &__item-promo {
        flex-grow: 1;
        width: 66%;
        position: relative;
        overflow: hidden;
        width: 66%;
        // border: 1px solid red;
        
        &-inner {
            position: absolute;
            top: 50%;
        }
        
    }
    
    &__banner {
        transform: translateY(-50%);
        min-width: 100%;
        max-width: 102%;
    }

    &__sublist {
        position: absolute;
        bottom: -330px;
        height: 330px;
        display: flex;
    }
    
    &__subitem {
        width: 33%;
        flex-grow: 1;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        padding: 132px 53px 0;
        box-sizing: border-box;
        
        &-title {
            margin: 32px 0 24px;
        }
    }

    &__icon {
        position: absolute;
        top: 96px;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
    }

    &__order {
        margin: 22px 0;

        &:before,
        &:after {
            content: '-';
            display: inline-block;
            transform: scaleX(2);
        }

        &:before {
            margin-right: 6px;
        }

        &:after {
            margin-left: 6px;
        }
    }
}

